<section class="container hero-container">
  <h1 class="hero-title">
    Hello.<br />I’m Fullstack developer<br />Lloyd Jefferson.
  </h1>
  <ul class="hero-socials">
    <li class="hero-socials-item">
      <a href="https://www.instagram.com/goitclub/" class="hero-socials-link"
        >IG</a
      >
    </li>
    <li class="hero-socials-item">
      <a href="https://www.youtube.com/c/GoIT" class="hero-socials-link">YT</a>
    </li>
    <li class="hero-socials-item">
      <a href="https://www.facebook.com/goITclub/" class="hero-socials-link"
        >FB</a
      >
    </li>
    <li class="hero-socials-item">
      <a
        href="https://alinashapka.github.io/project-2/"
        class="hero-socials-link"
        >GH</a
      >
    </li>
    <li class="hero-socials-item">
      <a href="mailto:lloydjefferson@gmail.com" class="hero-socials-link-email"
        >lloydjefferson@gmail.com</a
      >
    </li>
  </ul>
</section>
